.login-block
{
    background-color:#fff;
    padding:60px;
    -webkit-box-shadow:0 3px 50px 0 rgba(0,0,0,.1);
    box-shadow:0 3px 50px 0 rgba(0,0,0,.1);
    text-align:center;
    border-radius:5px
}
.login-block h2,.login-block h6
{
    font-family:Open Sans,sans-serif;
    color:#96a2b2;
    letter-spacing:1px
}
.login-block h2
{
    font-size:22px;
    margin-bottom:60px;
    margin-top:40px
}

.login-block .input-group-addon
{
    color:#29aafe;
    font-size:19px;
    opacity:.5
}
.login-block .btn-block
{
    margin-top:30px;
    padding:15px;
    background:#29aafe;
    border-color:#29aafe;
}
.login-block .hr-xs
{
    margin-top:5px;
    margin-bottom:5px
}

.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
    color:#fff;
    background-color:#29aafe
}
.social-icons.size-sm a
{
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
}
.social-icons a.facebook:hover
{
    background-color:#3b5998
}
.social-icons a.rss:hover
{
    background-color:#f26522
}
.social-icons a.google-plus:hover
{
    background-color:#dd4b39
}
.social-icons a.twitter:hover
{
    background-color:#00aced
}
.social-icons a.linkedin:hover
{
    background-color:#007bb6
}