.page-7 {
    min-height: 73vw;
    border-top: 8px solid #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.page-7-m {
    background: no-repeat url("../resources/img/11552626_1920.jpg") center;
    background-size: auto 100%;
    -moz-transition: all 3s ease-out, color 2s;
    -o-transition: all 3s ease-out, color 2s;
    -webkit-transition: all 3s ease-out, color 2s;
    border-right: 5px solid #000;
}
.page-7:hover {
    background-size: auto 115%;
    -webkit-box-shadow: inset 0 0 200px black;
    box-shadow: inset 0 0 200px black;
}
.page-7-xm {
    background: no-repeat url("../resources/img/signIn.jpg") center;
    background-size: auto 100%;
    -moz-transition: all 3s ease-out, color 2s;
    -o-transition: all 3s ease-out, color 2s;
    -webkit-transition: all 3s ease-out, color 2s;
    border-left: 5px solid #000;
    border-top: 0px solid #000;
}
.page-7-xm:hover {
    background: no-repeat url("../resources/img/signIn.jpg") center, black;
    background-size: auto 115%;
    -webkit-box-shadow: inset 0 0 200px black;
    box-shadow: inset 0 0 200px black;
}
.page-7 a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.page-7 a h3 {
    font-size: 35px;
    font-weight: 600;
}
.page-7 a:link {
    color: #fff;
}
.page-7 a:visited {
    color: #fff;
}
.page-7 a:active {
    color: #A11A0F;
}

.page-7 > .content {
    min-height: calc(70vw);
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
}